/* BBJ Bangkok Ltd*/
.company-bbj .navbar {
    background-color: #497df7 !important;
    border-bottom: 3px solid #497df7;
}


/* D&K Global Ltd*/
.company-dk .navbar {
    background-color: #5af188 !important;
    border-bottom: 3px solid #5af188;
}


/* MCGI Pvt Ltd*/
.company-mcgi .navbar {
    background-color: #ff5656 !important;
    border-bottom: 3px solid #ff5656;
}
